#ingredienti {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #ingredienti td, #ingredienti th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #ingredienti tr:nth-child(even){background-color: #f2f2f2;}
  
  #ingredienti tr:hover {background-color: #ddd;}
  
  #ingredienti th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: royalblue;
    color: white;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }
  
  title{
    color: white;
  }
  
  
  h4{
    color: white;
  }

  table{
    background-color: white;
}

  .iterate{
    background-color: white;
}