body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }

  title{
    color: white;
  }


  h4{
    color: white;
  }

  h4{
    color: white;
  }

  form{
    color: white;
  }

  .descrizione { 
    width: 800px; 
    height: 30px; 
    border: 1px solid #999999; 
    padding: 10px; 
  }

  .border{
    border: 2px solid white;
  }