<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <link href="/css/my-style.css" rel="stylesheet">
    <title>Dettagli buffet</title>
</head>
<body>
    <div>
        <h4>Dettagli buffet</h4>
        <div>
           Nome: <span th:text="${buffet.nome}">Nome Buffet</span>
        </div>
        <div>
            Descrizione: <span th:text="${buffet.descrizione}">Questo e' un buffet</span>
        </div>
        <div>
            Buffet Id: <span th:text="${buffet.id}">Campo id</span>
        </div>
        <div>
            <a href="piattoForm.html" th:href="@{'/buffet' + '/' + ${buffet.id} + '/' + 'piattoForm'}">Inserisci piatto</a>
        </div>

        <div>
            <a href="piatti.html" th:href="@{'/buffet' + '/' + ${buffet.id} + '/' + 'piatti'}">Lista piatti</a>
        </div>
    </div>
    <footer><a href="/default">Home</a></footer>
</body>
</html>
