<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link href="/css/style-buffets.css" rel="stylesheet">
    <title>Buffets</title>
  </head>
  <body>
    <h4>Elenco buffets</h4>
    <ul>
		<li th:each="buffet : ${buffets}">
      <td th:text="${buffet.nome}">nome</td>
      <td th:text="${buffet.descrizione}">descrizione</td>
      <td th:text="${chef}">chef id</td>
      <a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}"
      th:text="dettagli">Il mio buffet</a>
      <!--<td><a th:href="@{'/toUpdateBuffet' + '/' + ${buffet.id}}" th:text="Update"></a> </td> -->
      <td><a th:href="@{'/toDeleteBuffet' + '/' + ${buffet.id}}" th:text="Elimina"></a> </td>
		</li>
    </ul>
    <footer><a href="/default">Home</a></footer>
  </body>
</html>
