<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <link href="/css/my-style.css" rel="stylesheet">
    <title>Elimina chef</title>
</head>
<body>
    <div>
        <h4>Vuoi eliminare questo buffet?</h4>
        <br>
        <h4>Eliminando questo buffet eliminerai anche i piatti associati a questo buffet e tutti i suoi ingredienti!</h4>
        <h4>L'operazione sarà irreversibile.</h4>
        <div class="details">
            Nome Buffet: <span th:text="${buffet.nome}">Paolo</span> <br>
            Descrizione Buffet:  <span th:text="${buffet.descrizione}">Rossi</span>
        </div>
        <a href="chefs.html" th:href="@{'/deleteBuffet' + '/' + ${buffet.id}}">Conferma</a>
    </div>
    <footer><a href="/">Home</a></footer>
</body>
</html>
