<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <link href="/css/my-style.css" rel="stylesheet">
    <title>Elimina chef</title>
</head>
<body>
    <div>
        <h4>Vuoi eliminare questo ingrediente?</h4>
        <br>
        <h4>L'operazione sarà irreversibile.</h4>
        <div class="details">
            Nome Piatto: <span th:text="${ingrediente.nome}">Paolo</span> <br>
            Descrizione Piatto:  <span th:text="${ingrediente.descrizione}">Rossi</span> <br>
            Origine Piatto:  <span th:text="${ingrediente.origine}">Rossi</span>
        </div>
        <a href="chefs.html" th:href="@{'/deleteIngrediente' + '/' + ${ingrediente.id}}">Conferma</a>
    </div>
    <footer><a href="/">Home</a></footer>
</body>
</html>
