<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <link href="/css/my-style.css" rel="stylesheet">
    <title>Index</title>
</head>
<body>
 <div>
        <h4>Operazioni</h4>
        <div>
            Debug Log: My credentials id:<td th:text="${credentials.id}">nome</td>
            <div>   
                <a href="persona.html" th:href="@{/persone}">Lista persone</a>
            </div>
            <div>
                <a href="chef.html" th:href="@{/chefs}">Lista chefs</a>
            </div>
            
            <div>
                <a href="chef.html" th:href="@{'/ilMioProfilo' + '/' + ${credentials.id}}">Il Mio Profilo</a>
            </div>
            <div>
                <a href="buffet.html" th:href="@{/buffets}">Lista buffets</a>
            </div>

            <div>
                <a href="chefForm.html" th:href="@{/chefForm}">Inserisci chef</a>
            </div>
            <div>
                <a href="buffetForm.html" th:href="@{/buffetForm}">Inserisci buffet</a>
            </div>
            <div>
                <a href="piattoForm.html" th:href="@{/piattoForm}">Inserisci piatto</a>
            </div>

            <div>
                <a href="piatti.html" th:href="@{/piatti}">Lista piatti</a>
            </div>

            <div>
                <a href="ingredienteForm.html" th:href="@{/ingredienteForm}">Inserisci ingrediente</a>
            </div>
            
            <div>
                <a href="ingredienti.html" th:href="@{/ingredienti}">Lista ingredienti</a>
            </div>


        </div>
</div>
    <div>
        <a th:href="@{/logout}">Logout</a>
     </div>
       
</div>
<footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
