<html>
    <head>
        <script src="https://kit.fontawesome.com/328878b482.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styleindex.css">
    </head>

    <body>
        <div class="class1">
            <nav>
                <img src="images/spoon.png" width="60" height="60">
                <i class="class2">Catering</i>

            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="/chefs">Chefs</a></li>
				<li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            </nav>

            <div class="row">
                <div class="col-1">
                    <h1><span>Healthy food </span>&<span> Menu Planner</span><br> for you</h1>

                    <p>All you need food for healthy food & diet planner</p>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-circle"></i>Custome food menu healthy</li>
                        <li><i class="fa-li fa fa-check-circle"></i>Free delivery</li>
                        <li><i class="fa-li fa fa-check-circle"></i>100% fresh made</li>
                        <li><i class="fa-li fa fa-check-circle"></i>List icons</li>
                      </ul>
                      <button type="button">Booking now</button>
                </div>
                <div class="col-2">
                    <div class="card car1"></div>
                    <div class="card car2"></div>
                    <div class="card car3"></div>
                    <div class="card car4"></div>
                </div>
            </div>
        </div>
    </body>
</html>