<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lista ingredienti</title>
  </head>
  <body>
    <h4>Elenco ingredienti</h4>
    <ul>
		<li th:each="ingrediente : ${ingredienti}">
      <td th:text="${ingrediente.nome}">nome</td>
      <td th:text="${ingrediente.descrizione}">descrizione</td>
      <td th:text="${ingrediente.origine}">origine</td>
      <a href="buffet.html" th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
      th:text="dettagli">Il mio ingrediente</a>
		</li>
    </ul>
    <footer><a href="/default">Home</a></footer>
  </body>
</html>
