<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <link href="/css/style-buffetForm.css" rel="stylesheet">
    <title>Form Ingrediente</title>
</head>
<body>
    <h4>Ingrediente</h4>
    <form th:action="@{/ingrediente}" method="post" th:object="${ingrediente}">
        <div th:if="${#fields.hasGlobalErrors()}">
             <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
            </div>
          
        <div class="border"> 
        <div>Nome ingrediente <br> <input type="text" th:field="*{nome}"> </div>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        <div>Descrizione <br><input class="descrizione" type="text" th:field="*{descrizione}"></div>
        <div>Origine <br><input type="text" th:field="*{origine}"></div>
        <select th:field="*{piatto} " required hidden>
            <th:block th:each="cat: ${piatto}">
                <option hidden th:text="${cat.nome}" th:value="${cat.id}"></option>
         </th:block> 
         </select>
         <br>
        </div>  
        <br>
        <div><button type="submit">Conferma</button></div>

    </form>
</body>