 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">           
 <head>
    <link href="/css/style-buffetForm.css" rel="stylesheet">
    <title>Form Piatto</title>
</head>
<body>
    <h4>Piatto</h4>
    <div class="form">
        <form th:action="@{/piatto}" method="post" th:object="${piatto}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
            </div>
            <div class="border">
            <div>Nome <br><input type="text" th:field="*{nome}"> </div>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
            <div>Descrizione <br> <input class="descrizione" type="text" th:field="*{descrizione}"></div>
            <!-- <div>Buffet Id<input type="text" th:field="*{buffet}"></div> -->
            <select th:field="*{buffet} " required hidden>
                <th:block th:each="cat: ${buffet}">
                <option hidden th:text="${cat.nome}" th:value="${cat.id}"></option>
            </th:block>
        </select>
        <br>
    </div>
    </div> 
    <br>
    <div><button type="submit">Conferma</button></div>
</form>
</div> 
</body>