<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrazione</title>
    <link rel="stylesheet" th:href="@{/css/style_register.css}" />
</head>
<body>
	<header></header>
    	
	<form  class="box" th:action="@{/register}" method="POST">
        <h1>Registrazione </h1>
  
            <input type="text" placeholder="Username" required th:field="${credentials.username}"/>
    
          <span th:if="${#fields.hasErrors('credentials.username')}"
                th:errors="${credentials.username}" th:style="'color:red'"> </span>
                
            <input type="password" placeholder="Password" required th:field="${credentials.password}"/>
         <span th:if="${#fields.hasErrors('credentials.password')}"
                th:errors="${credentials.password}" th:style="'color:red'"></span>
       
            <input type="text" placeholder="Nome" required th:field="${user.nome}"/>
             <span th:if="${#fields.hasErrors('user.nome')}"
              th:errors="${user.nome}" th:style="'color:red'"></span>
               <input type="text" placeholder="Cognome" required th:field="${user.cognome}"/>
               <span th:if="${#fields.hasErrors('user.cognome')}"
               th:errors="${user.cognome}" th:style="'color:red'"></span> 
               
               <input type="text" placeholder="Nazionalita" required th:field="${user.nazionalita}"/>
               <span th:if="${#fields.hasErrors('user.nazionalita')}" th:errors="${user.nazionalita}" th:style="'color:red'"></span>
               
               <input type="submit" name="" value="Registrati"/>
               
               <p style="color: white;">Hai gia un account?Effettua il  <a th:href="@{/login}">login</a>  </p>
	</form>
</body>
</html>
