<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Chefs</title>
  </head>
  <body>
    <h4>Elenco chef</h4>
    <ul>
		<li th:each="chef : ${chefs}">
      <td th:text="${chef.nome}">nome</td>
      <td th:text="${chef.cognome}">cognome</td>
      <a href="persona.html" th:href="@{'/chef' + '/' + ${chef.id}}"
      th:text="dettagli">Paolo Rossi</a>
      <a th:href="@{'/toBuffetChef' + '/' + ${chef.id}}" th:text="Visualizza buffet"></a> 
     <a th:href="@{'/toDeleteChef' + '/' + ${chef.id}}" th:text="Elimina"></a> 
     <a th:href="@{'/toUpdateChef' + '/' + ${chef.id}}" th:text="update"></a> 
		</li>
    </ul>
    <footer><a href="/default">Home</a></footer>
  </body>
</html>
